# Foundry compiler outputs and local caches
cache/
out/

# Foundry broadcast logs and deployment artifacts
broadcast/

# Docs
docs/

# Local secrets
.env
.env.*
!.env.example

# Node dependencies
node_modules

# Hardhat artifacts
artifacts
